@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Raleway:wght@500;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #121212;
    font-family: 'Raleway', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.banner{
    display: flex;
    height: 100vh;  
}
.banner_left{
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
}
.banner_right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_title{
    font-size: 60px;
    white-space: nowrap;
    position: relative;
    color: transparent;
}
.banner_text{
    line-height: 2;
    text-align: justify;
    margin: 20px 0;
}
.Love_button{
    outline: 0;
    font-size: 18px;
    padding: 10px 30px;
    background-color:#22bedd ;
    color: #fff;
   
    border: 2px solid #22bedd;
    cursor: pointer;
    transition: 0.3s linear;
}
.Love_button:hover{
    background-color: transparent;
    color: #22bedd;
}
.banner_title::before{
    content: 'Programming Hero';
    position: absolute;
    top: 0;
    left: 0;
    color: #22bedd;
    animation: typing 5s linear infinite;
    
}
@keyframes typing {
    0% {
        content: 'P|';
    }

    4% {
        content: 'Pr|';
    }

    8% {
        content: 'Pro|';
    }

    12% {
        content: 'Prog|';
    }

    16% {
        content: 'Progr|';
    }

    20% {
        content: 'Progra|';
    }

    24% {
        content: 'Program|';
    }

    28% {
        content: 'Programm|';
    }

    32% {
        content: 'Programmi|';
    }

    36% {
        content: 'Programmin|';
    }

    40% {
        content: 'Programming|';
    }

    44% {
        content: 'Programming |';
    }

    48% {
        content: 'Programming H|';
    }

    52% {
        content: 'Programming He|';
    }

    56% {
        content: 'Programming Her|';
    }

    60% {
        content: 'Programming Hero|';
    }

    64%,
    83% {
        content: 'Programming Hero|';
    }

    84% {
        content: 'Programming Her|';
    }

    85% {
        content: 'Programming He|';
    }

    86% {
        content: 'Programming H|';
    }

    87% {
        content: 'Programming |';
    }

    88% {
        content: 'Programming|';
    }

    89% {
        content: 'Programmin|';
    }

    90% {
        content: 'Programmi|';
    }

    91% {
        content: 'Programm|';
    }

    92% {
        content: 'Program|';
    }

    93% {
        content: 'Progra|';
    }

    94% {
        content: 'Progr|';
    }

    95% {
        content: 'Prog|';
    }

    96% {
        content: 'Pro|';
    }

    97% {
        content: 'Pr|';
    }

    98% {
        content: 'P|';
    }

    99% {
        content: '|';
    }

    100% {
        content: '|';
    }
}
.banner img{
    border: 4px solid #22bedd;
   
}
.Section_title{
    text-align: center;
} 
.Section_title h1{
    color: #22bedd;
    font-size: 50px;
    text-align: center;
    margin: 50px 0;
    border-left:  2px solid #22bedd;
    border-right: 2px solid #22bedd;
    display: inline-block;
    line-height: 0.7;
}
.photo{
    height: 280px;
    width: 280px;
    position: relative;
    overflow: hidden;
    

}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

}
.broder{
    background-color: #fff;
    position: absolute;
    transition: 0.7s ease-in-out;
}
.broder.top, .broder.buttom {
    height: 4px;
    width: 270px;
}
.broder.left, .broder.right{
    height: 270px;
    width: 4px;
}
.broder.top{
    top: 5px;
    right: 100%;
}
.broder.buttom{
    bottom: 5px;
    left: 100%;
}
.broder.left{
    left: 5px;
    top: 100%;
}
.broder.right{
    right: 5px;
    bottom: 100%;
}
.photo:hover .broder.top{
    right: 5px;
}
.photo:hover  .broder.buttom{
    left: 5px;

}
.photo:hover .broder.left{
    top: 5px;
}
.photo:hover .broder.right{
    bottom: 5px;
}
.photo_contant{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    padding-left: 30px;
    transition: 0.3s ease-in-out;
    transform: translateY(400px);

}
.photo:hover .photo_contant{
    transform: translateY(200px);
}
.photo::before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    top: 0;
    left: 0;
    transition: .3s linear;
}
.photo:hover::before{
    opacity: 1;
}
.gallary{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}